flask==2.3.2              # Для веб-приложения
pandas==2.0.3             # Для работы с данными
scikit-learn==1.3.0       # Для моделей машинного обучения (линейная регрессия, градиентный бустинг)
numpy==1.25.0             # Для работы с числовыми данными и векторизацией
gunicorn==21.2.0          # Для запуска Flask-приложения на сервере
